.columns {
  margin-top: 40px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: TS-Med, sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: bolder;
  margin-bottom: 35px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.desc {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  line-height: 25px;
  text-align: justify;
}

.column1 {
  width: 60%;
  padding-right: 150px;
}

.column2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.beforemap {
  background-color: #ff5d5d;
  padding: 20px;
}

.mapimg {
  height: 190px;
  object-fit: cover;
  background-image: url("../imgs/maps_cnuhsr.png");
  background-position: center;
  background-size: cover;
}

.create {
  margin-top: 25px;
  background-color: black;
  color: white;
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 55px;
  border-radius: 20px;
}

.create:hover {
  opacity: 0.9;
  cursor: pointer;
}
