footer img {
  width: 80px;
  height: 80px;
}

footer img:hover {
  cursor: help;
}

footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lien {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.lien img:hover {
  cursor: pointer;
}
