.connect {
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  padding: 12px 15px;
  font-weight: bold;
}

.connect:hover {
  cursor: pointer;
  opacity: 0.8;
}

header {
  height: 60px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  height: 40px;
}

.entete a {
  padding: 10px;
  font-weight: bold;
  border-radius: 18px;
}

.entete > a:hover {
  background-color: #d8d2d2;
  cursor: pointer;
}

.fa-bars {
  display: none;
}

.entete .last-span-header a:first-child {
  display: none;
}
