.photos {
  height: 430px;
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
}

.photos img {
  object-fit: cover;
}

.leftbloc {
  height: 100%;
  flex: 1;
}

.leftbloc img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rightbloc {
  width: 480px;
  height: 100%;
}

.rightbloc > div {
  height: calc(50% - 1px);
  width: 100%;
}

.rightbloc img {
  width: 100%;
  height: 100%;
}

.rightbloc div:first-child {
  margin-bottom: 2px;
}

.photos img:hover {
  cursor: pointer;
  opacity: 0.8;
}
