main {
  padding-top: 50px;
}

.menu {
  margin-top: 38px;
  margin-bottom: 25px;
  display: flex;
  gap: 10px;
}

.menu > div {
  font-family: TS-Med;
  padding: 12px;
  border: 1px solid black;
  border-radius: 12px;
  width: calc((100% - 50px) / 6);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
}

.menu > div:nth-child(n + 6):not(:last-child) {
  display: none;
}

.menu div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
