.menu {
  margin-top: 38px;
  margin-bottom: 25px;
}

.menu {
  display: flex;
  gap: 10px;
}

/*à modifier*/
.menu > div {
  padding: 12px;
  border: solid black 1px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-family: TS-Med;
  font-size: 15px;
  line-height: 20px;
}

.menu div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
