* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg, sans-serif;
  width: 1100px;
  margin: 10px auto;
}

/* ------------------HEADER -----------------*/

.logo {
  width: 190px;
  height: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.entete {
  display: flex;
  gap: 25px;
  font-weight: bold;
}

.entete > a {
  line-height: 40px;
  padding: 0 10px;
}

.entete > a:hover {
  background-color: #d8d2d2;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 10px;
}

.connect {
  background-color: black;
  color: white;
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  border-radius: 30px;
}

.connect:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* ------------------ TITRE --------------------*/

h1 {
  font-family: TS-Med, sans-serif;
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 70px;
}

main h1 span {
  color: #ff5d5d;
}

.text span {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.717);
}

/*------------------------- MENU-----------------------------*/

.menu {
  margin-top: 38px;
  margin-bottom: 25px;
}

.menu ul {
  display: flex;
  gap: 12px;
  flex: 1;
}

.menu ul > li {
  border: solid black 1px;
  flex: 1;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.menu ul > li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* -------------------------IMG -----------------------*/

.photos {
  height: 430px;
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
}

.photos img {
  object-fit: cover;
}

.leftbloc {
  height: 100%;
  flex: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rightbloc {
  width: 480px;
  height: 100%;
  gap: 2px;
}

.rightbloc img {
  height: calc(50% - 2px);
  width: 100%;
}

.photos img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ---------------------------CITIES------------------- */

.way {
  display: flex;
  justify-content: space-between;
}

.countries {
  font-size: 12px;
  line-height: 14px;
  font-weight: lighter;
  display: flex;
  gap: 10px;
}

.countries a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.way .visit {
  font-size: 12px;
  line-height: 14px;
  font-weight: lighter;
}

.fa-caret-down:hover {
  cursor: pointer;
}

/*-----------------------------COLUMNS-----------------------------*/

.columns {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  gap: 150px;
}

h2 {
  font-family: TS-Med, sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: bolder;
  margin-bottom: 35px;
}

.column2 {
  width: 430px;
  height: 470px;
  background-color: #ff5d5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.desc {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.map {
  width: 430px;
  height: 180px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  object-fit: cover;
}

.beforemap {
  padding: 30px;
}

.create {
  margin-top: 25px;
  background-color: black;
  color: white;
  font-family: TS-Reg, sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 55px;
  border-radius: 20px;
}

.create:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* -------------------- SECTION CARROUSEL ---------------- */

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.theme {
  flex: 1;
  padding-right: 30px;
}

.theme p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 22px;
  margin-top: 28px;
  margin-bottom: 15px;
}

.theme a {
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.theme a:hover {
  cursor: pointer;
  color: black;
  opacity: 0.9;
}

.gold {
  width: 35px;
  height: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: absolute;
  top: 145px;
  left: 6px;
}

.carrousel img:not(.gold) {
  width: 100%;
  aspect-ratio: 27/20;
  border-radius: 10px;
}

.grade {
  display: flex;
  padding: 7px 0;
}

.grade p {
  font-size: 12px;
  color: rgb(81, 78, 78);
  margin-left: 10px;
}

.grade ul li:not(.nostar) {
  background-color: #00aa6c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.grade ul li {
  background-color: #ffffff;
  border: #00aa6c solid 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.grade ul {
  display: flex;
  justify-content: space-between;
  width: 62px;
  height: 10px;
}

.act {
  position: relative;
  width: calc((100% - 30px) / 3);
  flex-shrink: 0;
}

.carrousel i {
  background-color: white;
  padding: 8px;
  border-radius: 20px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.act > p:not(.food) {
  color: black;
  margin-top: 5px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.bloc {
  margin-top: 30px;
  display: flex;
}

.carrousel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 15px;
  flex: 3;
}

.carrousel::-webkit-scrollbar {
  display: none;
}
.food {
  font-size: 13px;
  color: rgb(66, 64, 64);
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/*--------------FOOTER--------------*/

footer img {
  width: 80px;
  height: 80px;
}

footer img:hover {
  cursor: help;
}

footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lien {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.lien img:hover {
  cursor: pointer;
}
