@import "header.css";
@import "title.css";
@import "menu.css";
@import "images.css";
@import "cities.css";
@import "carrousel.css";
@import "columns.css";
@import "footer.css";

* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg, sans-serif;
}

.container {
  max-width: 1175px;
  margin: 0 auto;
  padding: 15px;
}

@media (max-width: 1100px) {
  body,
  header,
  main,
  footer {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .photos {
    height: 370px;
    margin-bottom: 20px;
    display: flex;
    gap: 2px;
  }
}
