h1 {
  font-family: TS-Med, sans-serif;
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 70px;
}

main h1 span {
  color: #ff5d5d;
}

.text span {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.717);
}
